@model CrowdParlay.Web.Models.HelloWorldViewModel
@{
    ViewData["Title"] = "Hello there!";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Hi there!</h1>
    <p>@Model.Text</p>
</div>
